<div class="container-fluid">
    <nav class="navbar navbar-inverse visible-xs nav-custom">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>                        
                                    </button>
                <a class="navbar-brand" href="#">Pay it Foward</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#"> <i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a></li>
                    <li><a href="#">  <i class="fa fa-sliders" aria-hidden="true"></i> User Settings</a></li>
                    <li><a href="#"> <i class="fa fa-sliders" aria-hidden="true"></i> Loan History</a></li>
                    <li><a href="#" onclick="fbLogout();">  <i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav hidden-xs">
            <h2>Pay it Forward</h2>
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#section1"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a></li>
                <li><a href="#section2"> <i class="fa fa-sliders" aria-hidden="true"></i>  User Settings</a></li>
                <li><a href="#section3"> <i class="fa fa-history" aria-hidden="true"></i> Loan History</a></li>
                <li><a href="#section3">  <i class="fa fa-sign-out" aria-hidden="true"></i>  Logout</a></li>
            </ul><br>
        </div>
        <br>

        <div class="col-sm-9">
            <div class="well">
                <h4>Hello
                    <%=donor[0].first_name %>
                        <%=donor[0].last_name %>!
                </h4>
                 <p>Welcome to our newest charity: Second Harvest Food Bank</p>
            </div>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="well">
                            <h4>People you've Helped</h4>
                            <p>
                                <%=donor[0].people_helped %>
                            </p>
                        </div>

                </div>
                <div class="col-sm-4">
                    <div class="well">
                        <h4>Amount Donated</h4>
                        <p>$<%=donor[0].total_money %>.00
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="well">
                        <h4>Your Ratings</h4>
                        <p>
                            <%=donor[0].ratings %>
                        </p>
                    </div>
                </div>
            </div>
            <!-- this is the end of row rating -->

                 <div class="container-fluid hiddenTable">
                    <h2>Charities</h2>
                    <p>Here are some of the charities that need your help</p>
                    <table class="table table-hover charity-table">
                        <thead>
                            <tr>
                                <th>Charity Name</th>
                                <th>Hours Needed</th>
                                <th>Job Requirements</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <%=charity[0].charity_name %>
                                </td>
                                <td>
                                    <%=charity[0].hours_needed %>
                                </td>
                                <td>
                                    <%=charity[0].overview %>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <%=charity[1].charity_name %>
                                </td>
                                <td>
                                    <%=charity[1].hours_needed %>
                                </td>
                                <td>
                                    <%=charity[1].overview %>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <%=charity[2].charity_name %>
                                </td>
                                <td>
                                    <%=charity[2].hours_needed %>
                                </td>
                                <td>
                                    <%=charity[2].overview %>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- this is the end of the chart -->



            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img src="<%=user[5].user_img %>" alt="User" class="img-responsive">
                            <div class="caption">
                                <h4 class="pull-right">
                                    $<%=user[5].loan_amt %>.00
                                </h4>
                                <h4>Current Need
                                </h4>
                                <p>
                                    <%=user[5].user_story %>
                                </p>
                            </div>
                            <div class="ratings">
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span> 
                                    (50 reviews)
                                </p>
                            </div>
                            <div class="space-ten"></div>
                            <div class="btn-ground text-center">
                                <button type="button" class="btn btn-primary cool" onclick="youModal('<%=user[5].user_img %>','<%=user[5].user_story %>','<%=user[5].loan_amt %>')"
                                    data-toggle="modal" data-target="#product_view" data-loan="<%=user[5].loan_amt %>" data-imgsrc="<%=user[5].user_img %>"
                                    data-histo="<%=user[5].user_story %>"><i class="fa fa-search"></i>Learn More</button>
                            </div>
                            <div class="space-ten"></div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img src="<%=user[1].user_img %>" alt="usr" class="img-responsive">
                            <div class="caption">
                                <h4 class="pull-right">
                                    $<%=user[1].loan_amt %>.00
                                </h4>
                                <h4>Current Need</a>
                                <p>
                                    <%=user[1].user_story %>
                                </p>
                            </div>
                            <div class="ratings">
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span> (5 reviews)
                                </p>
                            </div>
                            <div class="space-ten"></div>
                            <div class="btn-ground text-center">
                                <button type="button" class="btn btn-primary cool" onclick="youModal('<%=user[1].user_img %>','<%=user[1].user_story %>','<%=user[1].loan_amt %>')"
                                    data-toggle="modal" data-target="#product_view" data-imgsrc="<%=user[1].user_img %>" data-histo="<%=user[1].user_story %>"
                                    data-loan="<%=user[1].loan_amt %>"><i class="fa fa-search"></i>Learn More</button>
                            </div>
                            <div class="space-ten"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img src="<%=user[2].user_img %>" alt="" class="img-responsive">
                            <div class="caption">
                                <h4 class="pull-right">
                                    $<%=user[2].loan_amt %>.00
                                </h4>
                                <h4>Current Need</h4>
                                <p>
                                    <%=user[2].user_story %>
                                </p>
                            </div>
                            <div class="ratings">
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span> 
                                    (200 reviews)
                                </p>
                            </div>
                            <div class="space-ten"></div>
                            <div class="btn-ground text-center">
                                <button type="button" class="btn btn-primary cool" onclick="youModal('<%=user[2].user_img %>','<%=user[2].user_story %>','<%=user[2].loan_amt %>')"
                                    data-toggle="modal" data-target="#product_view" data-imgsrc="<%=user[2].user_img %>" data-histo="<%=user[2].user_story %>"
                                    data-loan="<%=user[2].loan_amt %>"><i class="fa fa-search"></i>Learn More</button>
                            </div>
                            <div class="space-ten"></div>
                        </div>
                    </div>
                </div>
<!-- this is the end of row 2 -->


             <div class="modal fade product_view" id="product_view">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
                            <h3 class="modal-title">Please confirm that you would like to help</h3>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-6 product_img">
                                    <img id="disPlay" src="#" class="img-responsive">
                                </div>
                                <div class="col-md-6 product_content">
                                    <div class="rating">
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span> 
                                        (10 reviews)
                                    </div>
                                    <p id="histo"></p>
                                    <h3>$<span class="cost"> 75.00 </span></h3>
                                    
                                    <div class="row">
                                        <!-- end col -->
                                        <div class="col-md-4 col-sm-12">
                                            <select class="form-control" name="select">
                                           <option value="" selected="">Charities</option>
                                           <option value=""><%=charity[0].charity_name %></option>
                                            <option value=""><%=charity[1].charity_name %></option>
                                          <option value=""><%=charity[2].charity_name %></option>
                                                                </select>
                                        </div>
                                        <!-- end col -->
                                    </div>
                                    <div class="space-ten"></div>
                                    <div class="btn-ground">

                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                                        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-heart"></span> Confirm</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- this the end of container -->


        </div>
        <!-- this is the end of col-9 -->

    </div>
    <!-- row content -->
</div>
<!-- this is the end of container-fluid -->
