<!-- Navbar -->

<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '1440200726070603',
            // cookie     : true,
            xfbml: true,
            version: 'v2.10'
        });

        FB.AppEvents.logPageView();

    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));


    function checkLoginState() {
        FB.getLoginStatus(function (response) {
            statusChangeCallback(response);
            console.log("jfhfhf", response.email);
        });
    }


    function statusChangeCallback(response) {
        console.log('statusChangeCallback');
        console.log(response);
        // The response object is returned with a status field that lets the
        // app know the current login status of the person.
        // Full docs on the response object can be found in the documentation
        // for FB.getLoginStatus().
        if (response.status === 'connected') {
            // Logged into your app and Facebook.
            testAPI(response);
        } else {
            // The person is not logged into your app or we are unable to tell.
            document.getElementById('status').innerHTML = 'Please log ' +
                'into this app.';
        }
    }

    function testAPI(response) {
        console.log('Welcome!  Fetching your information.... ');
        // $("#fbLog").on("click", function () {
        FB.api('/me', {
            fields: 'name,email,first_name,last_name,picture'
        }, function (response) {

            console.log(response.email);
            $.ajax("/login", {
                type: "POST",
                data: {
                    email: response.email
                }
            }).then(
                function (data) {
                    console.log("data coming from backend", data);
                    // Reload the page to get the updated list
                    if (data.status === "donor") {
                        window.location.href = "/donor/dashboard/" + data.id;
                    } else if (data.status === "user") {
                        window.location.href = "/user/dashboard/" + data.id;
                    } else { // send to signup page
                        window.location.href = "/signup";
                    }
                });

        })
        // });
    }
</script>

<nav class="navbar navbar-default fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand btn" href="/signup">
 <i class="fa fa-user-plus" aria-hidden="true"></i>SignUp</a>

            <fb:login-button class="fb-login-button" scope="public_profile,email" onlogin="checkLoginState();">
            </fb:login-button>
        </div>



        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li>Welcome to Pay It Foward !</li>
            </ul>
        </div>
    </div>
</nav>
<div id="status">
</div>
<!-- First Container -->
<div class="container-fluid cont bg-1 text-center">
    <h3 class="margin">Who we are...</h3>
    <img src="https://pbs.twimg.com/profile_images/1232631567/PF-Logo.png" class="img-responsive img-circle margin bg-img" style="display:inline"
        alt="logo" width="300" height="300">
    <p>We are a small group of individuals who believe in the Pay It Forward philosophy. We recognize not everyone is able to
        obtain a loan in a traditional fashion. This website was developed to match people in need of help with donors willing
        to support them on the condition they “Pay It Forward” by giving their time to a charity in need.</p>
</div>

<!-- Second Container -->
<div class="container-fluid cont bg-2 text-center">
    <h3 class="margin">What we do?</h3>
    <p>Our group partners with various charities to connect them with volunteers. In exchange for support from a generous donor,
        these individuals will volunteer a set number of hours to the selected charity. The number of hours is determined
        by the amount of support requested.
    </p>
    <a href="#" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-search"></span> Search for charities
  </a>
</div>

<!-- Third Container (Grid) -->
<div class="container-fluid cont bg-3 text-center">
    <h3 class="margin">Want to donate?</h3>
    <br>

    <div class="row">
        <div class="col-sm-4">
            <img src=<%=user[0].user_img %> class="img-responsive margin" style="width:100%; height:300px;" alt="Image 1
            <%=user[0].user_img %>">
                <p>
                    <%=user[0].user_story %>
                </p>
        </div>
        <div class="col-sm-4">
            <img src=<%=user[1].user_img %> class="img-responsive margin" style="width:100%;height:300px;" alt="Image 2
            <%=user[1].user_img %>">
                <p>
                    <%=user[1].user_story %>
                </p>
        </div>
        <div class="col-sm-4">
            <img src=<%=user[2].user_img %> class="img-responsive margin" style="height:300px;" alt="Image 3
            <%=user[2].user_img %>">
                <p>
                    <%=user[2].user_story %>
                </p>

        </div>
    </div>
</div>

<!-- Footer -->
<footer class="container-fluid cont bg-4 text-center">
    <p>All copyrights @Collaborators
        <a href="https://github.com/jdiehl99/Project2">www.github.com</a>
    </p>
</footer>
