
    
        <nav class="navbar navbar-inverse visible-xs nav-custom">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
                    </button>
                    <a class="navbar-brand" href="#">Pay it Foward</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                            <li class="active"><a href="#"> <i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a></li>
                            <li><a href="#">  <i class="fa fa-sliders" aria-hidden="true"></i> User Settings</a></li>
                            <li><a href="#"> <i class="fa fa-sliders" aria-hidden="true"></i> Loan History</a></li>
                            <li><a href="#" onclick="fbLogout();">  <i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    
        <div class="container-fluid">
            <div class="row content">
                <div class="col-sm-3 sidenav hidden-xs">
                    <h2>Pay it Forward</h2>
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a href="#section1"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a></li>
                        <li><a href="#section2"> <i class="fa fa-sliders" aria-hidden="true"></i>  User Settings</a></li>
                        <li><a href="#section3"> <i class="fa fa-history" aria-hidden="true"></i> Loan History</a></li>
                        <li><a href="#section3">  <i class="fa fa-sign-out" aria-hidden="true"></i>  Logout</a></li>
                    </ul><br>
                </div>
                <br>
    
                <div class="col-sm-9">
                    <div class="well">
                        <h4>Welcome <%=user[0].first_name %> <%=user[0].last_name %></h4>
                        <p>Welcome to our newest charity: Second Harvest Food Bank</p>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="well">
                                <h4>Current Loan</h4>
                                <p>$<%=user[0].loan_amt %>.00</p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="well">
                                <h4>Worked Hours</h4>
                                <p><%=user[0].hours_worked %></p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="well">
                                <h4>Hours Needed</h4>
                                <p><%=user[0].hours_needed %></p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="well">
                                <h4>Your Ratings</h4>
                                <p><%=user[0].ratings %></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    
            <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <iframe width="100%" height="260" src="https://www.youtube.com/embed/CumDJZWJtZg" frameborder="0" allowfullscreen></iframe>

                                <div class="caption">
                                    <h4 class="pull-right">
                                        <%=charity[0].hours_needed %>hrs
                                    </h4>
                                    <h4>Hours Needed</h4>
                                    <!-- <p> -->
                                        <h3><%=charity[0].charity_name %></h3>
                                    <!-- </p> -->
                                </div>
                                <div class="ratings">
                                    <p>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span> 
                                        (5000 reviews)
                                    </p>
                                </div>
                                <div class="space-ten"></div>
                                <div class="btn-ground text-center">
                <button type="button" class="btn btn-primary" onclick="userModal(<iframe width='100%' height='260' src='https://www.youtube.com/embed/CumDJZWJtZg' frameborder='0' allowfullscreen></iframe>,'<%=charity[0].overview %>','<%=charity[0].hours_needed %>','<%=charity[0].charity_name %>')" data-toggle="modal" data-target="#product_view" >
                <i class="fa fa-search"></i>Learn More </button>
                                </div>
                                <div class="space-ten"></div>
                            </div>
                        </div> <!--end of colom-->


                        <div class="col-md-4">
                                <div class="thumbnail">
                                        <iframe width="100%" height="260" src="https://www.youtube.com/embed/hp-T8X0eWlc" frameborder="0" allowfullscreen></iframe>
    
                                    <div class="caption">
                                        <h4 class="pull-right">
                                            <%=charity[1].hours_needed %>hrs
                                        </h4>
                                        <h4>Hours Needed</h4>
                                        <!-- <p> -->
                                            <h3><%=charity[1].charity_name %></h3>
                                        <!-- </p> -->
                                    </div>
                                    <div class="ratings">
                                        <p>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span> 
                                            (400 reviews)
                                        </p>
                                    </div>
                                    <div class="space-ten"></div>
                                    <div class="btn-ground text-center">
                    <button type="button" class="btn btn-primary" onclick="userModal(<iframe width='100%' height='260' src='https://www.youtube.com/embed/hp-T8X0eWlc' frameborder='0' allowfullscreen></iframe>,'<%=charity[1].overview %>','<%=charity[1].hours_needed %>','<%=charity[1].charity_name %>')" data-toggle="modal" data-target="#product_view" >
                    <i class="fa fa-search"></i>Learn More </button>
                                    </div>
                                    <div class="space-ten"></div>
                                </div>
                            </div> <!--end of colom-->



                            <div class="col-md-4">
                                    <div class="thumbnail">
                                            <iframe width="100%" height="260" src="https://www.youtube.com/embed/d7SBoE-9o_E" frameborder="0" allowfullscreen></iframe>
        
                                        <div class="caption">
                                            <h4 class="pull-right">
                                                <%=charity[2].hours_needed %>hrs
                                            </h4>
                                            <h4>Hours Needed</h4>
                                            <!-- <p> -->
                                                <h3><%=charity[2].charity_name %></h3>
                                            <!-- </p> -->
                                        </div>
                                        <div class="ratings">
                                            <p>
                                                <span class="glyphicon glyphicon-star"></span>
                                                <span class="glyphicon glyphicon-star"></span>
                                                <span class="glyphicon glyphicon-star"></span>
                                                <span class="glyphicon glyphicon-star"></span>
                                                <span class="glyphicon glyphicon-star"></span> 
                                                (1000 reviews)
                                            </p>
                                        </div>
                                        <div class="space-ten"></div>
                                        <div class="btn-ground text-center">
                        <button type="button" class="btn btn-primary" onclick="userModal(<iframe width='100%' height='260' src='https://www.youtube.com/embed/d7SBoE-9o_E' frameborder='0' allowfullscreen></iframe>,'<%=charity[2].overview %>','<%=charity[2].hours_needed %>','<%=charity[2].charity_name %>')" data-toggle="modal" data-target="#product_view" >
                        <i class="fa fa-search"></i>Learn More </button>
                                        </div>
                                        <div class="space-ten"></div>
                                    </div>
                                </div> <!--end of colom-->
                    </div>
                    <!-- this is the end first charity ROW -->


                    <div class="row">

                            <div class="col-md-4">
                                    <div class="thumbnail">
                                            <iframe width="100%" height="260" src="https://www.youtube.com/embed/bNWh8JUXs20" frameborder="0" allowfullscreen></iframe>
        
                                        <div class="caption">
                                            <h4 class="pull-right">
                                                <%=charity[3].hours_needed %>hrs
                                            </h4>
                                            <h4>Hours Needed</h4>
                                            <!-- <p> -->
                                                <h3><%=charity[3].charity_name %></h3>
                                            <!-- </p> -->
                                        </div>
                                        <div class="ratings">
                                            <p>
                                                <span class="glyphicon glyphicon-star"></span>
                                                <span class="glyphicon glyphicon-star"></span>
                                                <span class="glyphicon glyphicon-star"></span>
                                                <span class="glyphicon glyphicon-star"></span>
                                                <span class="glyphicon glyphicon-star"></span> 
                                                (1000 reviews)
                                            </p>
                                        </div>
                                        <div class="space-ten"></div>
                                        <div class="btn-ground text-center">
                        <button type="button" class="btn btn-primary" onclick="userModal(<iframe width='100%' height='260' src='https://www.youtube.com/embed/bNWh8JUXs20' frameborder='0' allowfullscreen></iframe>,'<%=charity[3].overview %>','<%=charity[3].hours_needed %>','<%=charity[3].charity_name %>')" data-toggle="modal" data-target="#product_view" >
                        <i class="fa fa-search"></i>Learn More </button>
                                        </div>
                                        <div class="space-ten"></div>
                                    </div>
                                </div> <!--end of colom-->

                                <div class="col-md-4">
                                        <div class="thumbnail">
                                                <iframe width="100%" height="260" src="https://www.youtube.com/embed/77yI_5GTzzc" frameborder="0" allowfullscreen></iframe>
            
                                            <div class="caption">
                                                <h4 class="pull-right">
                                                    <%=charity[4].hours_needed %>hrs
                                                </h4>
                                                <h4>Hours Needed</h4>
                                                <!-- <p> -->
                                                    <h3><%=charity[4].charity_name %></h3>
                                                <!-- </p> -->
                                            </div>
                                            <div class="ratings">
                                                <p>
                                                    <span class="glyphicon glyphicon-star"></span>
                                                    <span class="glyphicon glyphicon-star"></span>
                                                    <span class="glyphicon glyphicon-star"></span>
                                                    <span class="glyphicon glyphicon-star"></span>
                                                    <span class="glyphicon glyphicon-star"></span> 
                                                    (3000 reviews)
                                                </p>
                                            </div>
                                            <div class="space-ten"></div>
                                            <div class="btn-ground text-center">
                            <button type="button" class="btn btn-primary" onclick="userModal(<iframe width='100%' height='260' src='https://www.youtube.com/embed/77yI_5GTzzc' frameborder='0' allowfullscreen></iframe>,'<%=charity[4].overview %>','<%=charity[4].hours_needed %>','<%=charity[4].charity_name %>')" data-toggle="modal" data-target="#product_view" >
                            <i class="fa fa-search"></i>Learn More </button>
                                            </div>
                                            <div class="space-ten"></div>
                                        </div>
                                    </div> <!--end of colom-->
    
                                    <div class="col-md-4">
                                            <div class="thumbnail">
                                                    <iframe width="100%" height="260" src="https://www.youtube.com/embed/qYyH2kMIoM0" frameborder="0" allowfullscreen></iframe>
                
                                                <div class="caption">
                                                    <h4 class="pull-right">
                                                        <%=charity[5].hours_needed %>hrs
                                                    </h4>
                                                    <h4>Hours Needed</h4>
                                                    <!-- <p> -->
                                                        <h3><%=charity[5].charity_name %></h3>
                                                    <!-- </p> -->
                                                </div>
                                                <div class="ratings">
                                                    <p>
                                                        <span class="glyphicon glyphicon-star"></span>
                                                        <span class="glyphicon glyphicon-star"></span>
                                                        <span class="glyphicon glyphicon-star"></span>
                                                        <span class="glyphicon glyphicon-star"></span>
                                                        <span class="glyphicon glyphicon-star"></span> 
                                                        (100 reviews)
                                                    </p>
                                                </div>
                                                <div class="space-ten"></div>
                                                <div class="btn-ground text-center">
                                <button type="button" class="btn btn-primary" onclick="userModal(<iframe width='100%' height='260' src='https://www.youtube.com/embed/qYyH2kMIoM0' frameborder='0' allowfullscreen></iframe>,'<%=charity[5].overview %>','<%=charity[5].hours_needed %>','<%=charity[5].charity_name %>')" data-toggle="modal" data-target="#product_view" >
                                <i class="fa fa-search"></i>Learn More </button>
                                                </div>
                                                <div class="space-ten"></div>
                                            </div>
                                        </div> <!--end of colom-->

                            </div>
                    <!-- this the end of the second charity ROW -->

    
                    </div>
              <!-- this is the end of container-fluid for the charities -->


                </div> <!-- end of big row-->

            </div> <!--end of col-9-->

        </div>
    

